# First, include any systemwide bindings and variable
# assignments from /etc/Inputrc
$include /etc/Inputrc

# Use vi for bash, + dans ~/.inputrc
set editing-mode vi
# set keymap vi-command
# Pour changer le curseur vi en mode insert
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

# consulter l'historique avec Ctrl-flèche
"\e[1;5A": history-search-backward
"\e[1;5B": history-search-forward
# Afficher les processus en arrière plan avec maj-j
"\e[j": "jobs\n"

#options générales
set editing-mode vi

#configuration du clavier
$if mode=vi
   set keymap vi-command
   "s": history-search-backward
   "t": history-search-forward
   "h": vi-change-char
   "L": vi-replace
   "k": vi-subst
   "j": vi-change-to
   "dd": kill-whole-line
   set keymap vi-move
   "c": backward-char
   "r": forward-char
   "f": vi-char-search
   "w": vi-prev-word
   set keymap vi-insert
   #si une touche ne marche pas en mode insert, la mapper en :self-insert
   #,, comme alias d’escape pour quitter le mode insertion
   ",,": vi-movement-mode
   "\e[A": history-search-backward
   "\e[B": history-search-forward

$endif
